body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.overlay{
  width:100vw;
  height: 100vh;
  position:absolute;
  top:0;left:0;
  z-index: 10000;
  background-color: #0000007F;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.newgame{
  max-width: 600px;
}

.disabled{
  display: none !important;
}

button.push{
  border: solid 2px rgb(9, 134, 236);
  padding: 0px;
  background-color: white;
  color: black;
  border-radius: 0.4rem;
  display: inline-block;
  width: 8rem;
}

button.push:hover{
  background-color: lightgray;
}

div.login-buttons{
  text-align: right;
  right: 0px;
  margin: 10px;
}

.login-window .input-area{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
}

.window {
  position:absolute;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-sizing:content-box;
}
.window-body{
  overflow: hidden;
  border-color: rgb(125,157, 224);
  border-style: solid;
  border-width: 2px;
  border-top-width: 0;
  height: 100%;
}
.window>.window-titlebar>span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 1;
}
.window>.window-titlebar>div {
  flex-shrink: 0;
}
.window>.window-titlebar {
  width: 100%;
  height:2em;
  line-height: 2em;
  padding-left: 0.5em;
  padding-right: 0.2em;
  vertical-align: middle;
  overflow: hidden;
  flex-shrink: 0;
  background: linear-gradient(to bottom,rgb(157, 185, 235),rgb(125,157, 224),rgb(125,157, 224),rgb(125,157, 224),rgb(125,157, 224),rgb(122, 147, 223));
  border-color: rgb(125,157, 224);
  border-style: solid;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-width: 0 1px 0 1px;

  color:white;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  user-select:none;
}
.window>.window-titlebar .button{
  border: white 1px solid;
  margin-left: 0.2em;
  border-radius: 4px;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  display: inline-block;
}
.window>.window-titlebar .button.close{
  background-color: red;
}
.window>.window-titlebar .button.close::before, .window>.window-titlebar .button.close::after { /* 共通設定 */
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%; /* 棒の幅（太さ） */
  height: 100%; /* 棒の高さ */
  background: #fff;
  border-radius: 2.5px; /* 棒の四隅の丸み*/
}
.window>.window-titlebar .button.close::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.window>.window-titlebar .button.close::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.window>.window-titlebar .button.maxmize{
  background: linear-gradient(-45deg,rgba(0, 0, 0, 0.466),rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0.466));
}
.maxmize::after{
  content:" ";
  position: absolute;
  top:50%;left: 50%;
  transform: translate(-50%,-50%);
  height: 70%; width: 70%;
  border:white solid 2px;
  border-top-width: 5px;
  box-sizing: border-box;
  border-radius: 1px;
}
.window>.window-titlebar .button.minimize{
  background: linear-gradient(-45deg,rgba(0, 0, 0, 0.466),rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0.466));
  border: white 1px solid;
  border-radius: 4px;
  width: 1.4em;
  height: 1.4em;
  color: white;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
.window>.window-titlebar .button.minimize::after{
  content:" ";
  position: absolute;
  top:60%;left: 45%;
  transform: translate(-50%,0%);
  height: 20%; width: 60%;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: white;
}
.window>.window-titlebar .button:hover{
  background-image: linear-gradient(-45deg,rgba(255, 255, 255, 0.466),rgba(255, 255, 255, 0.137),rgba(255, 255, 255, 0.788));
}

.window.active .window-body{
  border-color: rgb(0, 62, 196) ;
}
.window.active .window-titlebar{
  border-color: rgb(0, 62, 196) ;
  background: linear-gradient(to bottom,rgb(35, 147, 251),rgb(0,89, 224),rgb(0,89, 224),rgb(0,89, 224),rgb(0,110, 249),rgb(0, 62, 196));
}

#notification_area{
  position:absolute;
  right:1em;bottom:2em;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.notification {
  min-width: 15em;
  max-width: 15em;
  max-height: 5em;
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  
  transition: opacity 0.6s, visibility 0.6s,transform 0.6s;
  opacity: 0;
  transform: translateX(-2em);
  visibility: hidden;
}

.notification.show {
  opacity: 1;
  transform: translateX(0);
  visibility:visible;
}

#desktop_icons>.desktop_icon{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 10px;
  border:2px solid transparent;
}
#desktop_icons>.desktop_icon>.desktop_icon_image{
  object-fit: contain;
  width: 40px;
  height: 40px;
}
#desktop_icons>.desktop_icon>.desktop_icon_text{
  font-size: 0.9rem;
  padding: 1px 3px;
  word-wrap: break-word;
  border-width: 1px;
  border-style: dotted;
  border-color: transparent;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px #000000; 
}
#desktop_icons>.desktop_icon.selected>.desktop_icon_image {
  filter: brightness(0.5) contrast(1.2) sepia(100%) hue-rotate(180deg) saturate(20);
}
#desktop_icons>.desktop_icon.selected>.desktop_icon_text{
  border-color: white;
  background-color: rgb(0, 81, 196);
}
#desktop_taskbar{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 9998;
  height: 32px;
  width: 100%;
  background-color: #181818;
  box-sizing: border-box;
}
#desktop_taskbar .desktop_icon_image{
  height: 80%;
}
#desktop_taskbar>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
}
#desktop_taskbar_menu{
  width: 40px;
  height: 32px;
  padding: 6px;
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-clip: content-box;
  background-image: url("/images/menuicon.svg");
}
#desktop_taskbar_menu>div{
  position: absolute;
  bottom: 32px;
  left: 0px;
  background: linear-gradient(to bottom,rgb(0, 62, 196),rgb(0,110, 249),rgb(0,89, 224),rgb(0,89, 224),rgb(0,89, 224),rgb(35, 147, 251),rgb(0, 62, 196));
  border-color: rgb(0, 62, 196) ;
  width: 25vw;
  height: 60vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}
#desktop_taskbar_menu>div.hidden{
  height: 0;
}

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar:vertical {
	height: 17px
}

::-webkit-scrollbar-track {
	background: linear-gradient(to right,rgb(238,237,229),rgb(254, 254, 251));
}

::-webkit-scrollbar-thumb {
	background-color: rgb(195,213,253);
  border-radius: 3px/3px;
	box-shadow: inset -1px -1px #fff, inset 1px 1px #fff;
}

::-webkit-scrollbar-button:vertical:start {
	height: 17px;
	background-image: url("/images/window/up.png")
}

::-webkit-scrollbar-button:vertical:end {
	height: 17px;
	background-image: url("/images/window/down.png")
}

::-webkit-scrollbar-button:horizontal:start {
	width: 17px;
	background-image: url("/images/window/left.png")
}

::-webkit-scrollbar-button:horizontal:end {
	width: 17px;
	background-image: url("/images/window/right.png")
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement, 
::-webkit-scrollbar-button:horizontal:end:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
	display: block;
}

#bootwindow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color:rgb(0, 132, 219);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s, visibility 0.7s, background-color 0.1s, color 0.1s;
  color: white;
}
.hidden{
  opacity: 0 !important;
  visibility: hidden !important;
}
#bootwindow.hidden{
  background-color:black !important;
  color: transparent !important;
}