body {
  margin: 0 auto;
}

.overlay{
  width:100vw;
  height: 100vh;
  position:absolute;
  top:0;left:0;
  z-index: 1000;
  background-color: #0000007F;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.newgame{
  max-width: 600px;
}

.disabled{
  display: none;
}

button.push{
  border: solid 2px rgb(9, 134, 236);
  padding: 0px;
  background-color: white;
  color: black;
  border-radius: 0.4rem;
  display: inline-block;
  width: 8rem;
}

button.push:hover{
  background-color: lightgray;
}

div.login-buttons{
  text-align: right;
  right: 0px;
  margin: 10px;
}

.login-window .input-area{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
}

.window {
  position:absolute;
  border-color: rgb(0, 62, 196) ;
  border-style: solid;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-width: 2px;
  background-color: whitesmoke;
  border-top-width: 2em;
  box-sizing:content-box;
}
.window::before{
  content: ' ';
  position:absolute;
  top: -2em;
  height:2em;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom,rgb(35, 147, 251),rgb(0,89, 224),rgb(0,89, 224),rgb(0,89, 224),rgb(0,110, 249),rgb(0, 62, 196));
}
.window>.window-titlebar{
  position:absolute;
  top: -2em;
  width: 100%;
  height:2em;
  line-height: 2em;
  padding-left: 0.5em;
  padding-right: 0.2em;
  vertical-align: middle;
  
  color:white;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  user-select:none;
}
.window-titlebar>.Xbutton{
  background-color: red;
  border: white 1px solid;
  border-radius: 4px;
  width: 1.4em;
  height: 1.4em;
  color: white;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
.Xbutton::before, .Xbutton::after { /* 共通設定 */
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%; /* 棒の幅（太さ） */
  height: 100%; /* 棒の高さ */
  background: #fff;
  border-radius: 2.5px; /* 棒の四隅の丸み*/
}
.Xbutton::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.Xbutton::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}
.window-body{
  height: 100%;
}
#notification_area{
  position:absolute;
  right:1em;bottom:2em;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.notification {
  min-width: 15em;
  max-width: 15em;
  max-height: 5em;
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  
  transition: opacity 0.6s, visibility 0.6s,transform 0.6s;
  opacity: 0;
  transform: translateX(-2em);
  visibility: hidden;
}

.notification.show {
  opacity: 1;
  transform: translateX(0);
  visibility:visible;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.menu-btn span,.menu-btn span:before,.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

.menu-content {
  position: fixed;
  width: 10em;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: #3584bb;
  padding-top: 40px;
  z-index: 80;
  transition: all 0.5s;
  visibility:hidden;
  opacity: 0;
  transform: translateX(100%);
}
#menu_btn_check:checked ~ .menu-content {
  visibility:visible;
  opacity: 1;
  transform: translateX(0);
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul {
  padding-inline-start:10px;
}
.menu-content ul li * {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
  margin: 0;
  cursor : pointer;
}
.menu-content ul li a::after {
  position: absolute;
  right: 11px;
  top: 16px;
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
}