body {
  margin: 0 auto;
}

.overlay{
  width:100%;
  height: 100%;
  position:absolute;
  top:0;left:0;
  z-index: 10;
  background-color: #0000007F;
}

.login{
  border-radius: 15px;
  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  min-width: 500px;
  text-align: center;
  background-color: whitesmoke;
}


div.newgame{
  max-width: 600px;
}

.disabled{
  display: none;
}

div.container-logo{
  width: 50%;
  max-width: 300px;
  display: inline-block;

}

div.container-login{
  /* width: 50%; */
  display: block;
  /* text-align: center; */
  /* margin: 0 auto; */
}

img.login-icon{
  object-fit: cover;
  width:100%;
  height:100%;
}

div.login-window-title{
  color: white;
  background-color: blue;
  height: 35px;
  width: 100%;
  display: block;
  margin-left: 0px;
  position: absolute;
  text-align:left;
}

div.login-window-frame{
  border: solid 2px blue;
  margin-top: 35px;
}

div.login-window-corner{
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0px;
  position: absolute;
}

div.login-window-bar{
  height: 35px;
  width: 100%;
  margin-left: 35px;
  width: calc(100% - 70px);
  background-image: url("./images/login/bar.svg");
  display: inline-block;
  position: absolute;
}

button.push{
  border: solid 2px rgb(9, 134, 236);
  padding: 0px;
  background-color: white;
  color: black;
  border-radius: 0.4rem;
  display: inline-block;
  width: 8rem;
}

button.push:hover{
  background-color: lightgray;
}

div.login-buttons{
  text-align: right;
  right: 0px;
  margin: 10px;
}

div.login-inputs{
  display: block;
}

input.login-input{
  margin-left: 5px;
  position: absolute;
  left: 50%;
  width: 10rem;
  display: inline;
  margin: 0.5rem;
}

p.login-text{
  display: inline;
  left: 0px;
  margin: 0.5rem;
  text-align: center;
  position: absolute;
  width: 40%;
}

p.login-window-title-text{
  text-align: left;
  color: white;
  position: absolute;
  margin: 10px;
}

.message{
  height: 1em;
}